%h1.heading
  = 'New <%= singular_name.humanize %>'
  
<% if options[:formtastic] -%>
- semantic_form_for(@<%= singular_name %>) do |form|
  = render form
  - form.buttons do
    = form.commit_button 'Create'
<% else -%>
- form_for(@<%= singular_name %>) do |form|
  = form.error_messages
  = render form
  %p.buttons
    = form.submit 'Create'
<% end -%>
    
%p.actions
  = link_to 'Cancel', <%= collection_name %>_url