%h1.heading
  = 'New <%= singular_name.humanize %>'
  
<% if options[:formtastic] -%>
- semantic_form_for(@<%= singular_name %>) do |f|
  = render 'form', :f => f
  - f.buttons do
    = f.commit_button 'Create'
<% else -%>
- form_for(@<%= singular_name %>) do |f|
  = f.error_messages
  = render 'form', :f => f
  %p.buttons
    = f.submit 'Create'
<% end -%>
    
%p.actions
  = link_to 'Cancel', <%= plural_name %>_url