%h1.heading
  = "Editing <%= singular_name %> %s" % @<%= singular_name %>.id
  
<% if options[:formtastic] -%>
- semantic_form_for(@<%= singular_name %>) do |form|
  = render form
  - form.buttons do
    = form.commit_button 'Update'
<% else -%>
- form_for(@<%= singular_name %>) do |form|
  = form.error_messages
  = render form
  %p.buttons
    = form.submit 'Update'
<% end -%>
    
%p.actions
  = link_to 'Cancel', <%= collection_name %>_url