%h1.heading
  = "Editing <%= singular_name %> %s" % <%= resource_instance %>.id
  
<% if options[:formtastic] -%>
- semantic_form_for(<%= resource_instance %>) do |form|
  = render 'form', :form => form
  - form.buttons do
    = form.commit_button 'Update'
<% else -%>
- form_for(<%= resource_instance %>) do |form|
  = form.error_messages
  = render 'form', :form => form
  %p.buttons
    = form.submit 'Update'
<% end -%>
    
%p.actions
  = link_to 'Cancel', <%= index_path %>